@import 'nav.css';

body{
  background: url(../destination/images/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
#destination{
  border-bottom: 3px solid #FFFFFF;
}
/*********************MAIN**************************************/
main{
  display: flex;
  flex-direction: column;
  width: 77%;
  margin: 0 auto;
}
main h2{
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(36, 37, 44);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4.75px;
  margin-bottom: 30px;
}
main h2 span{
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}
main .wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .wrapper .left{
  width: 100%;
  height: 100%;
}
main .wrapper .left img{
  width: 60%;
  margin: 50px ;
}
main .right ul{
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}
main .right ul a{
  font-size: 16px;
  letter-spacing: 2.7px;
  color: #D0D6F9;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 3px solid transparent;
}
main .right ul a:hover{
  border-bottom-color: hsla(0, 0%, 100%, 0.5);
}
main .right ul a:active{
  border-bottom: 3px solid hsl(0, 0%, 100%) !important;
  color: #FFFFFF;
}
.destination h1{
  font-size: 100px;
  font-family: 'Bellefair', serif;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 300;
}
.destination p{
  color: #D0D6F9;
  font-size: 16px;
  line-height: 1.5;
  width: 75%;
  margin-bottom: 30px;
}
.destination hr{
  opacity: 0.2;
  margin-bottom: 20px;
  width: 75%;
}
.location-section{
  display:flex;
  gap: 40px;
  width: 100%;
}
.distance-container, .travel-time-container{
  width: 170px;
  text-transform: uppercase;
}
.distance-container h2, .travel-time-container h2{
  color: #D0D6F9;
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 300;
  letter-spacing: normal;
}
.distance-container p, .travel-time-container p{
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 0;
}

@media (540px <= width <= 768px) {
  body{
    background: url(/starter-code/destination/images/background-destination-tablet.jpg) no-repeat;
    background-size: cover;
  }
  main{
    width: 85%;
  }
  .container{
    margin: 0;
  }
  main .wrapper{
    grid-template-columns: 1fr;
  }
  main .wrapper .left, .wrapper .right{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  main .wrapper .left img{
    margin: 0;
  }
  main .right ul{
    margin-top: 30px;
  }
  .destination h1{
    text-align: center;
    font-size: 80px;
  }
  .destination p{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    font-size: 13px;
  }
  .destination hr{
    width: 100%;
    margin-bottom: 30px;
  }
  .location-section{
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .distance-container h2, .travel-time-container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
  .distance-container p, .travel-time-container p {
    font-size: 20px;
  }
}

@media (width <= 539px) {
  body{
    background: url(/starter-code/destination/images/background-destination-mobile.jpg) no-repeat;
    background-size: cover;
  }
  main{
    width: 85%;
    margin: 0 auto;
  }
  .container{
    margin: 0;
  }
  main .wrapper{
    grid-template-columns: 1fr;
    width: 100%;
  }
  main .wrapper .left, .wrapper .right{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 95%;
  }
  main .wrapper .left img{
    margin: 0;
  }
  main .right ul{
    margin-top: 30px;
  }
  main h2{
    font-size: 20px;
  }
  .destination h1{
    text-align: center;
    font-size: 80px;
  }
  .destination p{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .destination hr{
    width: 100%;
    margin-bottom: 30px;
  }
  .location-section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .distance-container h2, .travel-time-container h2 {
    text-align: center;
    margin-bottom: 10px;
  }
}