*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Bellefair', serif;
  list-style: none;
}
a{
  font-family: 'Barlow Condensed', sans-serif;
}
.container{
  margin-top: 20px;
}
nav{
  display: flex;
  margin: 20px 0px 50px 50px;
  align-items: center;
  justify-content: space-between;
}
.nav-section{
  display: flex;
  align-items: center;
}
.nav-section hr{
  color: rgb(255, 255, 255);
  height: 1px;
  z-index: 30;
  width: 530px;
  position: absolute;
  left: 155px;
  opacity: 0.3;
}
.navbar{
  background-color: rgba(73, 74, 78, 0.329);
  position: relative;
  z-index: 10;
  width: 55%;
  color: white;
  list-style: none;
  display: flex;
  height: 65px;
  align-items: center;
  padding-left: 50px;
}
.nav-links{
  margin-left: 30px;
  font-size: 13px;
  text-decoration: none;
  color: white;
  padding-bottom: 22px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
  font-weight: 300;
}
.nav-links span{
  font-family: 'Barlow Condensed', sans-serif;
}
.nav-links:hover{
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
}
.close-btn, .hamburger{
  display: none;
}

@media (540px <= width <= 768px) {
  nav{
    margin-top: 0;
    margin-left: 0;
    padding-left: 30px;
  }
  nav hr{
    display: none;
  }
  nav span{
    display: none;
  }
  .nav-section .logo{
    width: 35px;
  }
  .nav-links{
    font-size: 11px;
    margin: 0;
    padding-bottom: 23px;
  }
  .navbar{
    padding: 0px 30px;
    justify-content: space-between;
    width: 65%;
  }
}

@media (width <= 539px) {
  nav{
    width: 85%;
    margin: 0 auto;
    padding: 30px 0;
  }
  nav hr{
    display: none;
  }
  nav span{
    font-weight: 700;
  }
  .navbar{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    flex-direction: column;
    padding-top: 100px;
    align-items: flex-start;
    padding-left: 30px;
    gap: 35px;
    background-color: rgb(0, 0, 0);
  }
  .close-btn{
    display: inline-flex;
    position: absolute;
    top: 40px;
    cursor: pointer;
    right: 30px;
  }
  .nav-links{
    margin: 0;
    padding-bottom: 5px;
  }
  .hamburger{
    display: inline-flex;
    cursor: pointer;
  }
}