*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Bellefair', serif;
  list-style: none;
}
a{
  font-family: 'Barlow Condensed', sans-serif;
}
.container{
  margin-top: 20px;
}
nav{
  display: flex;
  margin: 20px 0px 50px 50px;
  align-items: center;
  justify-content: space-between;
}
.nav-section{
  display: flex;
  align-items: center;
}
.nav-section hr{
  color: rgb(255, 255, 255);
  height: 1px;
  z-index: 30;
  width: 530px;
  position: absolute;
  left: 155px;
  opacity: 0.3;
}
.navbar{
  background-color: rgba(73, 74, 78, 0.329);
  position: relative;
  z-index: 10;
  width: 55%;
  color: white;
  list-style: none;
  display: flex;
  height: 65px;
  align-items: center;
  padding-left: 50px;
}
.nav-links{
  margin-left: 30px;
  font-size: 13px;
  text-decoration: none;
  color: white;
  padding-bottom: 22px;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2.7px;
  font-weight: 300;
}
.nav-links:hover{
  border-bottom: 3px solid hsla(0, 0%, 100%, 0.5);
}
.nav-links:active{
  border-bottom: 3px solid hsl(0, 0%, 100%) !important;
}