@import 'nav.css';

body{
  background: url(../technology/images/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}
#tech{
  border-bottom: 3px solid #FFFFFF;
}
/*********************MAIN**************************************/
main{
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
}
main h2{
  font-family: 'Barlow Condensed', sans-serif;
  color: rgb(36, 37, 44);
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4.75px;
  margin-bottom: 10px;
}
main h2 span{
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
}
main .wrapper{
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 50px;
}
main .wrapper .left .nav{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
main .wrapper .left .nav a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
main .wrapper .left .nav a div{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid #ffffff79;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
main .wrapper .left .nav a div:hover{
  border: 1px solid #ffffff;
}
main .wrapper .left{
  display: flex;
  gap: 40px;
  align-items: center;
}
.details-container h3{
  color: #d0d6f9;
  font-family: 'Barlow Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  font-weight: 300;
  margin-bottom: 10px;
}
.details-container h1{
  font-size: 36px;
  text-transform: uppercase;
  font-family: 'Bellefair', serif;
  color: #fff;
  font-weight: 300;
  margin-bottom: 20px;
}
.details-container p{
  color: #d0d6f9;
  font-size: 16px;
  line-height: 1.5;
  width: 70%;
}
main .wrapper .right img{
  width: 100%;
  height: 100%;
}
.desktop-img{
  display: none;
}

@media (540px <= width <= 768px) {
  body{
    background: url(/starter-code/technology/images/background-technology-tablet.jpg) no-repeat;
    background-size: cover;
  }
  main{
    width: 100%;
    margin: 0 auto;
  }
  .desktop-img{
    display: flex;
    margin-bottom: 30px;
  }
  main h2{
    text-align: center;
    margin-bottom: 45px;
  }
  main .wrapper{
    grid-template-columns: 1fr;
    width: 100%;
  }
  main .wrapper .right img {
    display: none;
  }
  .container{
    margin: 0;
  }
  main .wrapper .left, .wrapper .right{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 85%;
  }
  main .wrapper .left .nav a, main .wrapper .left .nav a div {
    width: 50px;
    height: 50px;
  }
  .wrapper .right{
    display: none;
  }
  main .wrapper .left .nav{
    flex-direction: row;
  }
  .details-container h3, .details-container h1, .details-container p{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 15px;
  }
  .details-container h1{
    padding-bottom: 25px;
  }
}

@media (width <= 539px) {
  body{
    background: url(/starter-code/technology/images/background-technology-mobile.jpg) no-repeat;
    background-size: cover;
  }
  main{
    width: 100%;
    margin: 0 auto;
  }
  .desktop-img{
    display: flex;
    margin-bottom: 30px;
  }
  main h2{
    text-align: center;
    margin-bottom: 45px;
    font-size: 20px;
  }
  main .wrapper{
    grid-template-columns: 1fr;
    width: 100%;
  }
  main .wrapper .right img {
    display: none;
  }
  .container{
    margin: 0;
  }
  main .wrapper .left, .wrapper .right{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    width: 85%;
  }
  main .wrapper .left .nav a, main .wrapper .left .nav a div {
    width: 50px;
    height: 50px;
  }
  .wrapper .right{
    display: none;
  }
  main .wrapper .left .nav{
    flex-direction: row;
  }
  .details-container h3, .details-container h1, .details-container p{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 15px;
  }
  .details-container h1{
    padding-bottom: 25px;
  }
}